@model IMODA_FRONT_HTTPS.Models.member

@{
    ViewBag.Title = "login";
}

<script>
    // Load the Facebook Javascript SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.fbAsyncInit = function () {
        FB.init({
            appId: "2369329163375357",//FB appID
            cookie: true,  // enable cookies to allow the server to access the session
            xfbml: true,  // parse social plugins on this page
            version: 'v8.0' // use graph api version
        });
        FB.AppEvents.logPageView();

    };
    //使用自己客製化的按鈕來登入
    function checkLoginState() {
        FB.getLoginStatus(function (res) {
            console.log(`status:${res.status}`);//Debug

            if (res.status === "connected") {
                let userID = res["authResponse"]["userID"];
                console.log("用戶已授權您的App，用戶須先revoke撤除App後才能再重新授權你的App");
                console.log(`已授權App登入FB 的 userID:${userID}`);
                GetProfile();
            }
            else if (res.status === 'not_authorized' || res.status === "unknown") {
                //App未授權或用戶登出FB網站才讓用戶執行登入動作
                FB.login(function (response) {
                    console.log(response); //debug用
                    if (response.status === 'connected') {
                        //user已登入FB
                        //抓userID
                        let userID = response["authResponse"]["userID"];
                        console.log(`已授權App登入FB 的 userID:${userID}`);
                        GetProfile();

                    }
                    else {
                        // user FB取消授權
                        alert("Facebook帳號無法登入");
                    }
                    //"public_profile"可省略，仍然可以取得name、userID
                }, { scope: 'email' });
            }
        });


    }
    //取得用戶姓名、email
    function GetProfile() {
        //document.getElementById('status').innerHTML = "";//先清空顯示結果

        //FB.api()使用說明：https://developers.facebook.com/docs/javascript/reference/FB.api
        //取得用戶個資
        FB.api("/me", "GET", { fields: 'last_name,first_name,name,email' }, function (user) {
            //user物件的欄位：https://developers.facebook.com/docs/graph-api/reference/user
            if (user.error) {
                console.log(response);
                checkLoginState()
            } else {

                //document.getElementById('status').innerHTML = JSON.stringify(user);
                let promise =
                $.ajax({
                    url: "@Url.Action("social_login","Home")",
                    method: "post",
                    contentType: 'application/json',
                    data: JSON.stringify(user)
                });
            promise.done(function (data)
            {
                //顯示Server端回傳的資料
                console.log(data);
                if (data == "fail") {
                    window.location.href = "fb_register?id=" + user.id + "&name=" + user.name + "&email=" + user.email;

                }
                else
                {
                    window.location.href = "index";
                }
            });
            }
        });


    }

</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script type="text/javascript">
    $('#sendReset').validate({
        submitHandler: function () {
            $.ajax({
                url: "/ForgetPassword/sendPassword",
                data: $('#sendReset').serialize(),
                type: 'post',
                success: function (msg) {
                    alert(msg['message']);
                },
                error: function (xhr) {
                    var res_text = xhr.responseText;
                    alert("error");
                }
            });
        },
        rules: {
            email: {
                required: true,
                email: true
            }
        }
    });
</script>

<div class="container">
    <div class="col-md-12 nopadding" style="margin:30px auto;">
        <div class="col-md-6 col-sm-6 memberlogin">
            <h3>LOGIN</h3>
            <hr />
            <h4 class="quick">Quick Login</h4>
            <table align="center">
                <tr>
                    <td><button class="btn-fblogin" onclick="checkLoginState();"><img src="~/public/images/facebooksignin-th.png" width="100%" /></button></td><!--EN-'images/facebooksignin.png'-->
                    <td><button class="btn-linelogin" onclick="window.location='GetLineLoginUrl'"><img src="~/public/images/linesignin-th.png" width="100%" /></button></td><!--EN-'images/linesignin.png'-->
                </tr>
            </table>
            <hr />
            <h4 class="login">General Login</h4>
            <form method="POST" action="login/login">
                <table class="membertable" align="center">
                    <tr>
                        <td><label>Email</label></td>
                        <td colspan="2"><input name="account" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td><label>Password</label></td>
                        <td><input name="password" type="password" class="form-control" /></td>
                        <td><a href="#" data-toggle="modal" data-target="#myModal">forget?</a></td>
                    </tr>
                    <tr>
                        <td colspan="3"><button type="submit" class="btn btn-Login">Login</button></td>
                    </tr>
                </table>
            </form>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-6 col-sm-6 memberjoin nopadding">
            <h3>JOIN US</h3>
            <hr />
            <form method="POST" action="login">
                <table class="membertable" align="center">
                    <tr>
                        <td><label>Name</label></td>
                        <td><input type="text" name="name" class="form-control" required /></td>
                        <td><input type="radio" name="sex" value="0" checked />Female&nbsp;&nbsp;<input type="radio" name="sex" value="1" />Male</td>
                    </tr>
                    <tr>
                        <td><label>Birthday</label></td>
                        <td colspan="2"><input type="date" name="birthday" class="form-control" required /></td>
                    </tr>
                    <tr>
                        <td><label>Email</label></td>
                        <td colspan="2"><input name="account" type="email" class="form-control" required /><p class="tip">Please use lowercase half type to enter your correct mailbox so as not to receive order letters</p></td>
                    </tr>
                    <tr>
                        <td><label>Password</label></td>
                        <td colspan="2"><input name="password" type="password" class="form-control" pattern="[a-z0-9]{6,12}" required /><p class="tip">6~12 characters, including English and numbers</p></td>
                    </tr>
                    <tr>
                        <td><label>Password<br />Confirmation</label></td>
                        <td colspan="2"><input name="new_password" type="password" class="form-control" pattern="[a-z0-9]{6,12}" required /><p class="tip">Please enter again to confirm the password</p></td>
                    </tr>
                    <tr>
                        <td><label>Phone Number</label></td>
                        <td colspan="2"><input name="tel" type="tel" class="form-control" required /></td>
                    </tr>
                    <tr><td colspan="3"><button name="add_account" class="btn btn-Login">Join</button></td></tr>
                </table>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
	</div>
<div class="clearfix"></div>
<div id="status">
</div>

@*<div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v8.0&appId=2369329163375357&autoLogAppEvents=1" nonce="nwUj91mH"></script>*@
@*<div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&autoLogAppEvents=1&version=v8.0&appId=2369329163375357" nonce="nwUj91mH"></script>
    <div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>*@
